<body ng-app="myApp">


<p>Documents API</p>
<br>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script>
    angular.module('myApp', []).config(function ($interpolateProvider) {
        $interpolateProvider.startSymbol('{({').endSymbol('})}');
    });



</script>

<div class="method">[GET]</div>
<a href="{{ path('api_action_users') }}">/api/users</a>
<br>
<br>
<div class="method">[GET]</div>
<label for="userById">user_id</label>
<input type="number" id="userById" ng-model="userId">
<input type="submit" value="Send">
<a href="{{ path('api_action_user_byId', { 'id' : ({({userId})}) } )  }}">
    /api/user/{({ userId })}
</a>
{#<a href="{{ path('api_action_user_byId', { 'id' : {({userId})} ) } }}">/api/user/{({ userId })}</a> #}


</body>